APP_NAME="SIGWORKS"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://seu-app.up.railway.app
APP_ROOT_DOMAIN=
APP_TIMEZONE=America/Sao_Paulo

APP_LOCALE=pt_BR
APP_FALLBACK_LOCALE=pt_BR
APP_FAKER_LOCALE=pt_BR

LOG_CHANNEL=stderr
LOG_LEVEL=info

DB_CONNECTION=pgsql
DB_URL=${{Postgres.DATABASE_URL}}
DB_SSLMODE=require

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

CACHE_STORE=database
QUEUE_CONNECTION=sync
BROADCAST_CONNECTION=log

FILESYSTEM_DISK=public

MAIL_MAILER=log
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

# Brevo SMTP para testar emails reais:
# MAIL_MAILER=smtp
# MAIL_SCHEME=null
# MAIL_HOST=smtp-relay.brevo.com
# MAIL_PORT=587
# MAIL_USERNAME=seu-login-smtp-brevo
# MAIL_PASSWORD=sua-chave-smtp-brevo
# MAIL_FROM_ADDRESS="email-verificado@seudominio.com"
# MAIL_FROM_NAME="${APP_NAME}"

AUTODESK_APS_CLIENT_ID=
AUTODESK_APS_CLIENT_SECRET=
AUTODESK_APS_BUCKET_KEY=
AUTODESK_APS_REGION=US
AUTODESK_APS_STORAGE_LIMIT_BYTES=5368709120
AUTODESK_APS_SCOPES="data:read data:write data:create bucket:create bucket:read viewables:read"
AUTODESK_APS_VERIFY_SSL=true
AUTODESK_APS_CA_BUNDLE=

VITE_APP_NAME="${APP_NAME}"
VITE_MAPBOX_ACCESS_TOKEN=

# Ative somente no primeiro deploy de teste se quiser criar os usuarios demo.
RAILWAY_RUN_SEEDER=false
RAILPACK_PHP_ROOT_DIR=/app/public
NIXPACKS_PHP_ROOT_DIR=/app/public
